<div class="panel-header bg-primary-gradient">
	<div class="page-inner py-5">
		<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
			<div>
				<h2 class="text-white pb-2 fw-bold">Pengelola Universitas</h2>
			</div>
            <div class="ml-md-auto py-2 py-md-0">
				<button data-toggle="modal" data-target="#addUniversityModal" class="btn btn-white btn-border btn-round mr-2">Tambah</button>
			</div>

		</div>
	</div>
</div>

<div class="page-inner mt--5">
	<div class="row mt--2 row" id="content">

	</div>
</div>

<div class="modal fade" id="detailUniversityModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h4>Detail Universitas</h4>
                </center>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Nama </label>
                        <input class="form-control" id="nameInput" name="nameInput" >
                        <input class="form-control" id="idInput" name="idInput" hidden>
                    </div>
                    <div class="form-group">
                        <label>Deskripsi</label>
                        <input class="form-control" id="descriptionInput" name="descriptionInput">
                    </div>
                    <div class="form-group">
                        <label>Digunakan</label>
                        <select class="form-control" id="isExistInput">
                            <option value="1">Digunakan</option>   
                            <option value="0">Tidak Digunakan</option>   
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Update()">
                    <div class="spinner-border spinner-border-sm"></div>
                    Simpan
                </button>
                <button type="button" data-dismiss="modal" class="btn btn-secondary">Kembali</button>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="addUniversityModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h4>Tambah Universitas</h4>
                </center>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="max-height:300px; overflow-y:scroll;">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Nama </label>
                        <input class="form-control" id="nameAdd" >
                    </div>
                    <div class="form-group">
                        <label>Alamat Lengkap</label>
                        <textarea class="form-control" id="addressAdd"></textarea>    
                    </div>
                    <div class="form-group">
                        <label>Kota / Kabupaten</label>
                        <select class="form-control" id="cityIdAdd">
                            @foreach (City city in ViewBag.Cities)
                            {
                                <option value="@city.Id">@city.Name</option>  
                            }
                        </select>  
                    </div>
                    <div class="form-group">
                        <label>Link Google Maps </label>
                        <input class="form-control" id="mapsUrlAdd" >
                    </div>
                    <div class="form-group">
                        <label>Deskripsi</label>
                        <textarea class="form-control" id="descriptionAdd"></textarea>    
                    </div>
                    <div class="form-group">
                        <label>Akreditasi</label>
                        <select class="form-control" id="accreditationAdd">
                            <option value="A">A (Unggul)</option>  
                            <option value="B">B (Baik Sekali)</option>  
                            <option value="C">C (Baik)</option>  
                            <option value="X">Tidak Ada</option>  
                        </select>  
                    </div>
                    <div class="form-group">
                        <label>Biaya SPP</label>
                        <input class="form-control" id="tuitionFeeAdd" >
                    </div>
                    <div class="form-group row">
                        <label class="col-md-12">Logo Universitas </label>
                        <input type="file" class="form-control form-control-file" id="fileUpload" name="fileUpload" onchange="getBase64Img()" accept="image/png, image/gif, image/jpeg" required="">
                        <input type="text" id=imgstring hidden/> 
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Add()">
                    <div class="spinner-border spinner-border-sm"></div>
                    Simpan
                </button>
                <button type="button" data-dismiss="modal" class="btn btn-secondary">Kembali</button>
            </div>
        </div>
    </div>

</div>

<script>
    $( document ).ready(function(){
        Get();
    });

    $('#keyword').on('change', function(){
        Get();
    });

    function Get(){
        $.ajax({
            type: "GET",
            dataType: "JSON",
            contentType: "application/x-www-form-urlencoded",
            url: "masterUniversity/get",
            data:{
                keyword : $('#keyword').val()
            },
            success: function (result) {
                var htmlCard= "";
                    var status = "";
                result.forEach(function(university){
                    if (university.isExist == 1){
                        status = "success";
                    }
                    else
                    {
                        status = "danger";
                    }
                    htmlCard = htmlCard + '<div class="col-sm-6 col-md-4"><div class="card card-stats card-' + status + ' card-round" onclick="Detail(' + university.id + ')"><div class="card-body"><div class="row"><div class="col-12 col-stats"><div class="numbers"><p class="card-title">'+university.name+'</p></div></div></div></div></div></div>'
                });
                $('#content').html(htmlCard);
            },
            error: function (result) {
                console.log(result);
		        notify("Gagal", "Data gagal di ambil" + result.responseText, "danger");
            }
        });
    }

    function Detail(id){
        $.ajax({
            type: "GET",
            dataType: "JSON",
            contentType: "application/x-www-form-urlencoded",
            url: "masteruniversity/detail/"+id,
            success: function (result) {
                $('#idInput').val(result.id);
                $('#nameInput').val(result.name);
                $('#descriptionInput').val(result.description);
                $('#isExistInput').val(result.isExist).change();
                $('#detailUniversityModal').modal('show');
            },
            error: function (result) {
                console.log(result);
				notify("Gagal", "Data gagal di ambil" + result.responseText, "danger");
            }
        });
    }

    function Update(id){
        $.ajax({
            type: "POST",
            dataType: "JSON",
            contentType: "application/x-www-form-urlencoded",
            url: "masteruniversity/update",
            data : {
                Id : $('#idInput').val(),
                Name : $('#nameInput').val(),
                Description : $('#descriptionInput').val(),
                IsExist : $('#isExistInput').val(),
            },
            success: function (result) {
                $('#detailUniversityModal').modal('hide');
                Get();
				notify("Berhasil", "pengguna berhasil di update", "success");
            },
            error: function (result) {
                console.log(result);
				notify("Gagal", "pengguna gagal di update" + result.responseText, "danger");
            }
        });

    }

    function Add(){
        $.ajax({
            type: "POST",
            dataType: "JSON",
            contentType: "application/x-www-form-urlencoded",
            url: "masteruniversity/create",
            data : {
                Name : $('#nameAdd').val(),
                Address : $('#addressAdd').val(),
                Description : $('#descriptionAdd').val(),
                Accreditation : $('#accreditationAdd').val(),
                TuitionFee : $('#tuitionFeeAdd').val(),
                CityId  : $('#cityIdAdd').val(),
                MapsUrl   : $('#mapsUrlAdd').val(),    
                Logo : $('#imgstring').val(),
                IsExist : 1
            },
            success: function (result) {
                $('#addUniversityModal').modal('hide');
                Get();
				notify("Berhasil", "pengguna berhasil di update", "success");
            },
            error: function (result) {
                console.log(result);
				notify("Gagal", "pengguna gagal di update" + result.responseText, "danger");
            }
        });
    }

    function getBase64Img()  {
        var file = document.querySelector('input[type=file]')['files'][0];
        var reader = new FileReader();
        var baseString;
        reader.onloadend = function () {
            baseString = reader.result;
            console.log(baseString); 
            $('#imgstring').val(baseString);
        };
        reader.readAsDataURL(file);
        return baseString;
    }
</script>