<div class="panel-header bg-primary-gradient">
	<div class="page-inner py-5">
		<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
			<div>
				<h2 class="text-white pb-2 fw-bold">Pengelola Kota</h2>
			</div>
            <div class="ml-md-auto py-2 py-md-0">
				<a class="btn btn-white btn-border btn-round mr-2" asp-controller="MasterCity" asp-action="Sync">Sinkronisasi</a>
			</div>

		</div>
	</div>
</div>

<div class="page-inner mt--5">
	<div class="row mt--2 row" id="content">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body row">
					<div class="table-responsive">
						<table id="basic-datatables" class="display table table-striped table-hover" cellspacing="0" width="100%">
							<thead>
                                <tr>
                                    <th>Kode </th>
                                    <th>Nama Kota/Kabupaten</th>
                                    <th>Indeks Pendidikan</th>
                                    <th>Jumlah Universitas Terdaftar</th>
                                </tr>
							</thead>
                            <tbody>
								@foreach (City city in ViewBag.Cities)
								{
									<tr>
										<td>@city.Id</td>
										<td>@city.Name</td>
										<td>@city.EducationIndexScore</td>
										<td>@city.Universities.Count()</td>
									</tr>
								}                            
                            </tbody>
                        </table>
    				</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$('#basic-datatables').DataTable();
</script>