@{
	Layout = "";

}
<!DOCTYPE html>
<html>

<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8">
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/error.css" />
</head>
<body>
<div id="container" class="container">
    <ul id="scene" class="scene">
        <li class="layer" data-depth="1.00"><img src="~/img/404-01.png"></li>
        <li class="layer" data-depth="0.60"><img src="~/img/shadows-01.png"></li>
        <li class="layer" data-depth="0.20"><img src="~/img/monster-01.png"></li>
        <li class="layer" data-depth="0.40"><img src="~/img/text-01.png"></li>
        <li class="layer" data-depth="0.10"><img src="~/img/monster-eyes-01.png"></li>
    </ul>
    <h1>@ViewBag.errorMessage</h1>
    <button onclick="back()" class="btn bt">Kembali</button>
</div>
</body>
<script src="~/js/parallax.js"></script>
<script src="~/js/error.js"></script>

</html>