<div class="panel-header bg-primary-gradient">
	<div class="page-inner py-5">
		<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
			<div>
				<h2 class="text-white pb-2 fw-bold">Pengelola Universitas</h2>
			</div>
		</div>
	</div>
</div>

<div class="page-inner mt--5">
	<div class="row mt--2 row" id="content">

	</div>
</div>


</div>

</div>


<script>
    $( document ).ready(function(){
        Get();
    });

    $('#keyword').on('change', function(){
        Get();
    });

    function Get(){
        $.ajax({
            type: "GET",
            dataType: "JSON",
            contentType: "application/x-www-form-urlencoded",
            url: "masterUniversity/get",
            data:{
                keyword : $('#keyword').val()
            },
            success: function (result) {
                var htmlCard= "";
                    var status = "";
                result.forEach(function(university){
                    htmlCard = htmlCard + '<div class="col-sm-6 col-md-4"><div class="card card-stats card-info card-round" onclick="Detail(' + university.id + ')"><div class="card-body"><div class="row"><div class="col-12 col-stats"><div class="numbers"><p class="card-title">'+university.name+'</p></div></div></div></div></div></div>'
                });
                $('#content').html(htmlCard);
            },
            error: function (result) {
                console.log(result);
		        notify("Gagal", "Data gagal di ambil" + result.responseText, "danger");
            }
        });
    }

    function Detail(id){
        window.open('University/Detail/'+id, '_blank');
    }       


</script>