<div class="panel-header bg-primary-gradient">
	<div class="page-inner py-5">
		<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
			<div>
				<h2 class="text-white pb-2 fw-bold">Pengelola Universitas</h2>
			</div>
		</div>
	</div>
</div>

<div class="page-inner mt--5">
	<div class="row mt--2 row" id="content">

	</div>
</div>

<div class="modal fade" id="detailUniversityModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h4>Detail Universitas</h4>
                </center>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="max-height:300px; overflow-y:scroll;">
                <ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#detail" role="tab" aria-controls="pills-home" aria-selected="true">Detail</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#facility" role="tab" aria-controls="pills-profile" aria-selected="false">Fasilitas</a>
					</li>
				</ul>
				<div class="tab-content mt-2 mb-3" id="pills-tabContent">
					<div class="tab-pane fade show active" id="detail" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="col-md-12">
                    <div class="form-group">
                        <label>Nama </label>
                        <input class="form-control" id="idEdit" hidden>
                        <input class="form-control" id="nameEdit" >
                    </div>
                    <div class="form-group">
                        <label>Alamat Lengkap</label>
                        <textarea class="form-control" id="addressEdit"></textarea>    
                    </div>
                    <div class="form-group">
                        <label>Kota / Kabupaten</label>
                        <select class="form-control" id="cityIdEdit">
                            @foreach (City city in ViewBag.Cities)
                            {
                                <option value="@city.Id">@city.Name</option>  
                            }
                        </select>  
                    </div>
                    <div class="form-group">
                        <label>Link Google Maps </label>
                        <input class="form-control" id="mapsUrlEdit" >
                    </div>
                    <div class="form-group">
                        <label>Deskripsi</label>
                        <textarea class="form-control" id="descriptionEdit"></textarea>    
                    </div>
                    <div class="form-group">
                        <label>Akreditasi</label>
                        <select class="form-control" id="accreditationEdit">
                            <option value="A">A (Unggul)</option>  
                            <option value="B">B (Baik Sekali)</option>  
                            <option value="C">C (Baik)</option>  
                            <option value="X">Tidak Ada</option>  
                        </select>  
                    </div>
                    <div class="form-group">
                        <label>Biaya SPP</label>
                        <input class="form-control" id="tuitionFeeEdit" >
                    </div>
                    <div class="form-group row">
                        <label class="col-md-12">Logo Universitas </label>
                        <input type="file" class="form-control form-control-file" id="fileUploadEdit" name="fileUpload" onchange="getBase64Img('Edit')" accept="image/png, image/gif, image/jpeg" required="">
                        <input type="text" id="imgstringEdit" hidden/> 
                        <img id="imgPreviewEdit"/>
                    </div>
                </div>
			</div>
			<div class="tab-pane fade" id="facility" role="tabpanel" aria-labelledby="pills-profile-tab">
			</div>
		</div>                
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="Update()"><div class="spinner-border spinner-border-sm"></div>Simpan</button>
        <button type="button" id="btnDelete" onclick="Delete()" data-dismiss="modal" class="btn btn-danger">Hapus</button>
        <button type="button" data-dismiss="modal" class="btn btn-secondary">Kembali</button>
    </div>
</div>
</div>

</div>


<script>
    $( document ).ready(function(){
        Get();
    });

    $('#keyword').on('change', function(){
        Get();
    });

    function Get(){
        $.ajax({
            type: "GET",
            dataType: "JSON",
            contentType: "application/x-www-form-urlencoded",
            url: "masterUniversity/get",
            data:{
                keyword : $('#keyword').val()
            },
            success: function (result) {
                var htmlCard= "";
                    var status = "";
                result.forEach(function(university){
                    htmlCard = htmlCard + '<div class="col-sm-6 col-md-4"><div class="card card-stats card-info card-round" onclick="Detail(' + university.id + ')"><div class="card-body"><div class="row"><div class="col-12 col-stats"><div class="numbers"><p class="card-title">'+university.name+'</p></div></div></div></div></div></div>'
                });
                $('#content').html(htmlCard);
            },
            error: function (result) {
                console.log(result);
		        notify("Gagal", "Data gagal di ambil" + result.responseText, "danger");
            }
        });
    }

    function Detail(id){
        window.open('University/Detail/'+id, '_blank');
    //    $.ajax({
    //        type: "GET",
    //        dataType: "JSON",
    //        contentType: "application/x-www-form-urlencoded",
    //        url: "masteruniversity/detail/"+id,
    //        success: function (result) {
    //            $('#idEdit').val(result.university.id);
    //            $('#nameEdit').val(result.university.name);
    //            $('#descriptionEdit').val(result.university.description);
    //            $('#addressEdit').val(result.university.address);
    //            $('#cityIdEdit').val(result.university.cityId).change();
    //            $('#mapsUrlEdit').val(result.university.mapsUrl);
    //            $('#tuitionFeeEdit').val(result.university.tuitionFee);
    //            $('#accreditationEdit').val(result.university.accreditation).change();
    //            $('#imgPreviewEdit').attr('src',result.university.logo);
    //            $('#imgstringEdit').val(result.university.logo);
    //            var htmlFacility = "";

    //            result.universityFacility.forEach(function(data){

    //                if(data.value == 1){
    //                    htmlFacility = htmlFacility + '<div class="form-group"><label>' + data.facility.name + '</label><select class="form-control" id="facility' + data.id + '" onchange=UpdateFacility(' + data.id + ')><option value="1" selected>Ada</option><option value="0">Tidak Ada</option></select></div>';
    //                } else {
    //                    htmlFacility = htmlFacility + '<div class="form-group"><label>' + data.facility.name + '</label><select class="form-control" id="facility' + data.id + '" onchange=UpdateFacility(' + data.id + ')><option value="1" >Ada</option><option value="0"selected>Tidak Ada</option></select></div>';
    //                }
    //            });

    //            $('#facility').html(htmlFacility);
                
    //            $('#detailUniversityModal').modal('show');
    //        },
    //        error: function (result) {
    //            console.log(result);
				//notify("Gagal", "Data gagal di ambil" + result.responseText, "danger");
    //        }
    //    });
    }       


</script>