<li class="nav-item active">
	<a data-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
		<i class="fas fa-home"></i>
		<p>Dashboard</p>
		<span class="caret"></span>
	</a>
	<div class="collapse" id="dashboard">
		<ul class="nav nav-collapse">
			<li>
				<a href="../demo1/index.html">
					<span class="sub-item">Dashboard 1</span>
				</a>
			</li>									
		</ul>
	</div>
</li>
<li class="nav-section">
	<span class="sidebar-mini-icon">
		<i class="fa fa-ellipsis-h"></i>
	</span>
	<h4 class="text-section">Components</h4>
</li>
<li class="nav-item">
	<a href="calendar.html">
		<i class="far fa-calendar-alt"></i>
		<p>Calendar</p>
		<span class="badge badge-info">1</span>
	</a>
</li>	