@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@functions{
	private bool IsAuthenticated()
	{
		return User.Claims.Any();
	}

	public string GetUserClaim(string type)
	{
		return User.Claims.Where(x => x.Type == type).Select(x => x.Value).FirstOrDefault();
	}

	public string GetImage()
	{
		if (IsAuthenticated())
		{
			return GetUserClaim("Image");
		}
		else
		{
				return $"img/profile.jpg";
		}
	}	
}

<div class="container-fluid">
	<div class="collapse" id="search-nav">
		<div class="navbar-left navbar-form nav-search mr-md-3" hidden>
			<div class="input-group">
				<div class="input-group-prepend">
					<button type="submit" class="btn btn-search pr-1">
						<i class="fa fa-search search-icon"></i>
					</button>
				</div>
				<input type="text" placeholder="Pencarian ..." id="keyword" class="form-control">
			</div>
		</div>
	</div>
	<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
		<li class="nav-item toggle-nav-search hidden-caret">
			<a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
				<i class="fa fa-search"></i>
			</a>
		</li>

		<li class="nav-item dropdown hidden-caret">
			<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
				<div class="avatar-sm">
					<img src="@GetImage()" referrerpolicy="no-referrer" class="avatar-img rounded-circle">
				</div>
			</a>
			<ul class="dropdown-menu dropdown-user animated fadeIn">
				<div class="dropdown-user-scroll scrollbar-outer">
					@if (IsAuthenticated())
					{
						<li>
							<div class="user-box">
								<div class="avatar-lg"><img src="@GetImage()" alt="image profile" class="avatar-img rounded"></div>
									<div class="u-text">
									<h4>@GetUserClaim("Name")</h4>
									<p class="text-muted">@GetUserClaim("Email")</p>
								</div>								   										
							</div>
						</li>
						<div class="dropdown-divider"></div>
						<li>
							<a class="dropdown-item" asp-controller="Profile" asp-action="Index">Profil Saya</a>
							<a class="dropdown-item"  asp-controller="Auth" asp-action="Logout" >Logout</a>
						</li>
					}
					else
					{								
						<a class="dropdown-item" asp-controller="Auth" asp-action="Login">Login</a>
					}
				</div>
			</ul>
		</li>							
	</ul>
</div>
