@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@functions{
	private bool IsAuthenticated()
	{
		return User.Claims.Any();
	}

	public string GetUserClaim(string type)
	{
		return User.Claims.Where(x => x.Type == type).Select(x => x.Value).FirstOrDefault();
	}

	public string GetImage()
	{
		if (IsAuthenticated())
		{
			return GetUserClaim("Image");
		}
		else
		{
				return $"img/profile.jpg";
		}
	}	
}

<div class="panel-header bg-primary-gradient">
	<div class="page-inner py-5">
		<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
			<div>
				<h2 class="text-white pb-2 fw-bold">Konten Tentang Kami</h2>
			</div>
			<div class="ml-md-auto py-2 py-md-0">
				<button type="button" class="btn btn-white btn-border btn-round" onclick="UpdateContent()">Update</button>
			</div>
		</div>
	</div>
</div>
<div class="page-inner mt--5">
	
	<div class="row mt--2">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<div class="card-head-row">
						<div class="card-title">Summernote</div>
					</div>
				</div>
				<div class="card-body">
					<div id="summernote"> @ViewBag.Content </div>
				</div>
			</div>
		</div>		
	</div>	
</div>

<!-- Summernote -->
<script>
	$('#summernote').summernote({
		placeholder: 'Atlantis',
		fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
		tabsize: 2,
		height: 300
	});

	function UpdateContent(){
		$.ajax({
            type: "POST",
            dataType: "JSON",
            contentType: "application/x-www-form-urlencoded",
            url: "masterabout/Update",
            data: {
                content: $('#summernote').summernote('code')
            },
            success: function (result) {
				notify("Berhasil", "Konten berhasil di update", "success")
            },
            error: function (result) {
                console.log(result);
				notify("Gagal", "Konten gagal di update" + result.responseText, "danger");
            }
        });
	}

</script>

