@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Tentukan universitas terbaikmu sekarang</h3>
    <image src="/img/finder.gif" style="max-width:500px;" ></image>
</div>
